body{
    text-align: center;
    background-color: black;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
div{
    margin: 2rem;
    background-image: linear-gradient(45deg, #17202A ,#101010);
    padding: 1rem;
    box-shadow: 2.5px 1.5px 10px white;
}
#top{
    background-image: linear-gradient(#0A000000 ,#0A000000),url("../images/hero.png");
    background-repeat: no-repeat;
    height: 50%;
    color: white;
    margin:auto;

    background-position: center;
}
#top p{
    background-color: black;
    min-width: 40%;
    max-width: 80%;
    margin:auto;
    box-shadow: 2.5px 1.5px 10px white;
    margin-top: 2rem;
}
.text{
    width:80%;
    text-align: left;
    font-size: 2rem;
    margin:auto;
    margin-top: 3rem;

}
.text2{
    font-size: 1.5rem;
    text-align: left;

}
.text3{
    text-align: left;
    margin-left: 10rem;
    margin-right: 10rem;
}
a{
    color:white;
}
a:hover{
    color:grey;
}
.poto{
    max-width: 30rem;
    margin-left: 1rem;
}
.photo{
    max-width: 90%;
}