body{
    text-align: center;
    background-color: black;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
div{
    margin: 2rem;
}
.text{
    margin:10rem;
    text-align: left;
    font-size: 2rem;
}
.text2{
    font-size: 1.5rem;
    text-align: left;
    margin-left: 10rem;
    margin-right: 10rem;
}
.text3{
    text-align: left;
    margin-left: 10rem;
    margin-right: 10rem;
}